<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>

    <%- include('partials/navbar') %>
    <main class="wrapper">
        <article class="resume">
            <section class="grid-area aboutMe">
                
               
                <div class="contactInfo">
                <p class="spacing">Amazon Delivery Driver</p>
                <p class="spacing">May 2022 - Present</p>
                <p class="spacing">gersons.treehouse@gmail.com</p>
                <p class="spacing">(323)-919-1902</p>
                </div>
                <hr>
                <h5>Gerson Sanchez</h5>
                
                <img class="profile" src="https://res.cloudinary.com/dwtcc3voj/image/upload/v1704140794/hdjyy62wg2crkr5nlmjb.jpg">
                <h5>About Me</h5>
                <p class="spacing">Currently I am 23 years of age. I have dreams in building robots someday with some of the most talented people in the world.
                    But in order to get there, I am going to have to start somewhere. I went to Cal State Fullerton for short time, majoring in
                    computer science. It was a bit difficult, but I managed to somewhat pass my intro course. I decided school wasn't for me at
                    this point. My family didn't want me to leave school because that's my future that I was leaving behind. But honestly I couldn't
                    really focus in a classroom setting. They are too long, I'm more on the active side. I do combat sports on my free time. I like 
                    testing myself outside of school environments. Also, play games such as Mario Kart and Clash Royale. Im decent because I don't
                    really like loosing. If I do loose, I look back and reflect to see what things to change in order to improve. This style of thinking
                    works in all environments I've begun to notice when I got older (pretty sweet!). I plan on keeping these habits with me throughout
                    life, even in future jobs.
                    
                    
            </section>
            <section class="grid-area language">
                <h4>Languages</h4>
                <ul>
                <li>English</li>
                <li>Spanish</li>
                </ul>
                <hr>
                <h4>How it came to be</h4>
                <p class="spacing">I grew up in EL Slavador which is located in central America. I later moved to the United States around the age of 5. 
                    This is when I began to learn English. Learned to read it by going to school and talking to my peers as well as playing video games with
                    English diologue. I still plan on learning other languages such as Japanese to make my anime experience more immersive. Chinease seems to share some of the 
                    same characters as Japanese so that also seems a possibility in the future. Hopefully its more of a transition by this point. Not completely starting 
                    from scratch. I like making all my moves count</p>

        
                    

              <!-- <div class="circle">Hello</div> -->
            </section>
                  <section class="grid-area technology">
                <hr>
                <h4>Technologies</h4>
                    
                <hr>
                <ul>
                    <li>MongoDB</li>
                    <li>Javascript</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>EJS</li>
                    <li>Node</li>
                    <li>AJAX</li>
                </ul>
            </section>
            <section class="grid-area work">
                <hr><h4>Work Experience</h4>
                <hr><h5>Horizon Personnel Services</h5>
                <h6>June 2018 - June 2021</h6>
                <p class="spacing">This is a job agency that can send you to various jobs they have contracts with. I went here becasue I would at least gets some sort of job.
                    Even if it was temporary. Mainly because I was still going to school at the time. It was easier to pick something. Not the best of jobs, but
                    at least they paid. I learned more to just accept whichever position they gave me. I learned to be a little less picky during this time.
                </p> 
               </p>
                <hr>
                <hr>
                <hr>
                <hr>
                <h5>Amazon Delivery Driver</h5>
                <h6>April 2022 - Current</h6>
                <p class="spacing">I am currently delivering packages. Technically I don't work directly with amazon so I worked with a couple of third parties. The first one 
                    was called Amazino Logistics. I worked there for about 6 months, I later moved to one closer to home called Top Tier Logistics. This lasted
                    for around 10 months. Now its around August of 2023. Top Tier Logistics later decided they did not want a contract with amazon so they dispanded
                    and went to work at some other company. I still wanted to be a driver for amazon so I signed up for CornerStone Logistics. Where I am currently employed
                    for the last 4 months. 
                </p>
            </section>
            <section class="grid-area awards">
                <hr>
                <h4>Awards</h4>
                <hr>
                <hr>
                <p>I have earned 3 front runner awards at my amazon job. Each month some drivers are selected for going up and beyond.</p>
                <p>In school I was proud of getting perfect attendance beacuse a lot of background stuff needs to go correctly if you want to
                    show up to school on time.
                </p>
            </section>
            <section class="grid-area school">
                <hr>
                <h4>School</h4>
                <hr>

                <h5>Linda Marquez High School</h5>
                <h6>August 2014 - June 2018</h6>

                <hr>
                <hr>

                <h5>Cal State Fullerton</h5>
                <h6>August 2018 - December 2018</h6>
                <hr>
                <hr>
                <h4>Cerritos College</h4>
                <h6>August 2019 - December 2019</h6>
                <hr>
            </section>
    <section class="grid-area community">
                <hr>
                <h4>Hobbies</h4>
                <hr>
            <ul>

               <li><h6>Watching Sci Fi Shows</h6></li> 
               <li><h6>Lifting Weights</h6></li> 
               <li><h6>Learning New Skills</h6></li> 
               <li><h6>Listening to Music (played chello in middle school)</h6></li> 
               <li><h6>Math Problems</h6></li> 



            </ul>
            </section>
        </article>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>














    
    <!-- <img class="profile" src="https://res.cloudinary.com/dwtcc3voj/image/upload/v1704140794/hdjyy62wg2crkr5nlmjb.jpg"> -->
    <!-- <div class="contactInfo">
        <h2 class="spacing">Gerson Sanchez</h2>
        <p class="spacing">Current Amazon Driver</p>
        <p class="spacing">May 2022 - Present</p>
        <p class="spacing">gersons.treehouse@gmail.com</p>
        <p class="spacing">(323)-919-1902</p>
    </div>


    <div class="containerSummary">
    <div class="summary">
    <h3 class="summaryLabel">Summary</h3>
    <p>Currently I am 23 years of age. I have dreams in building robots someday with some of the most talented people in the world.
        But in order to get there, I am going to have to start somewhere. I went to Cal State Fullerton for short time, majoring in
        computer science. It was a bit difficult, but I managed to somewhat pass my intro course. I decided school wasn't for me at
        this point. My family did't want me to leave school because that's my future that I was leaving behind. But honestly I couldn't
        really focus in a classroom setting. They are too long, I'm more on the hyper side. I do combat sports on my free time. I like 
        testing myself outside of school environments. Also, play games such as Mario Kart and Clash Royale. Im decent because I don't
        really like loosing. If I do loose, I look back and reflect to see what things to change in order to improve. This style of thinking
        works in all environments I've begun to notice when I got older (pretty sweet!). I plan on keeping these habits with me throughout
        life, even in learning to become some sort of web developer as I am now.
    </p>
    </div>
    </div> -->
    
