#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

@media (max-width: 500px) {
    #cluster-map {
        width: 100%;
        height: 350px;
    }
    
    #map {
        width: 100%;
        height: 250px;
    }

}

